# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [21]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df, Series

In [77]:
data = {
    '國家':['a','b','c','d'] ,
    '人口':np.random.randint(1000,2000,4) }

In [78]:
type(data)

dict

In [79]:
df1=df(data,index=range(4))

In [80]:
df1

  國家    人口
0  a  1952
1  b  1942
2  c  1522
3  d  1039

In [101]:
max(df1['人口'])

1952

In [106]:
list(df1['人口']).index(1952)

0

In [107]:
df1['國家'][0]

'a'

a國人口最多